* {
    margin: 0;
    padding: 0;
}

.list1 {
    background-color: whitesmoke;
    width: 60%;
    border: 1px solid black;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

}

.list1 li {
    display: inline-block;
}

.list1 li img {
    margin: auto;
    display: block;
    width: 150px;
}